@import "tailwindcss";


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.review-text {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: normal;
}

